 body {
  margin: 0;
  padding: 0;
  background: url("/assets/img/login-image.jpg");
  background-size: cover;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  height: 40rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgb(116 130 139 / 90%);
  border-radius: 0.625rem;
}

 .logo1 {
  
  height: 25px;
  width: 25 px;
  text-align: center;
  
    border-radius: 50%;
  
}
.logo1 img{
  width: 95px;
  height: 95px;
}
.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #ffff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.6rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.575rem;
  border: none;
  border-bottom: 0.065rem solid #080808;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.2s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #ffffff;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #2905ac;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  
}

.box input[type="submit"]:hover {
  background-color: #37a106;
}
